body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #FFF8DC;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 25rem;
    margin: 2.125rem auto;
    padding: 0 1.5rem;
}

h1 {
    font-size: 1.7em;
    margin: 0;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.05em;
}

h1::after {
    content: '';
    display: inline-block;
    width: 100%;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: normal;
    text-align: left;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
    margin-bottom: 10px;
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#next-button,
#shuffle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex: 1;
    height: 3.5rem;
    padding: 0;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
}

#next-button {
    margin-right: 5px;
}

#shuffle-button {
    margin-left: 5px;
}

.track-info {
    text-align: left;
}

footer p {
    font-size: 1em;
    margin: 20px 0 0 0;
    text-align: center;
    color: #333;
}

@media (max-width: 600px) {
    h1, h2 {
        text-align: center;
    }

    .player {
        margin: 10px 0;
    }

    #play-button,
    #next-button,
    #shuffle-button {
        font-size: 1.5rem;
        height: 2.5rem;
    }
}