body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #FFF8DC; /* Default background color */
    font-family: 'Arial', sans-serif;
    color: black; /* Ensure text color is black by default */
}

a {
    color: black; /* Ensure all links are black by default */
    text-decoration: none; /* Remove underline from links */
}

.container {
    max-width: 25rem;
    margin: 2.125rem auto;
    padding: 0 1.5rem;
}

h1 {
    font-size: 1.7em;
    margin: 0;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.05em;
}

h1::after {
    content: '';
    display: inline-block;
    width: 100%;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: normal;
    text-align: left;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
    margin-bottom: 10px;
    color: black; /* Ensure button icons are black */
}

.nav-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#next-button,
#shuffle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex: 1;
    height: 3.5rem;
    padding: 0;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    overflow: hidden;
    color: black; /* Ensure button icons are black */
}

#next-button {
    margin-right: 5px;
}

#shuffle-button {
    margin-left: 5px;
}

.track-info {
    text-align: left;
}

footer p {
    font-size: 1em;
    margin: 20px 0 0 0;
    text-align: center;
    color: #333;
}

/* Styles for different tracks */
body.track-one {
    background-color: #FFF8DC; /* Original background color */
}

body.track-two {
    background-color: #FFD700; /* Example color for track two */
}

body.track-three {
    background-color: #ADD8E6; /* Example color for track three */
}

body.track-four {
    background-color: #90EE90; /* Example color for track four */
}

@media (max-width: 600px) {
    .player {
        margin: 10px 0;
    }

    #play-button,
    #next-button,
    #shuffle-button {
        font-size: 1.5rem;
        height: 2.5rem;
    }
}